<!DOCTYPE html>
<html lang="en">

<head>
   {{>header}}
</head>

<body>
    {{>navbar}}
    <div class="header">
        <div class="header-in">
            <div class="hleft">
                <h1>Check <span id="bluespan">Weather</span> of your city at <br><span id="redspan">My Weather App</span></h1>
                <button class="btn checkbtn"><a href="/check_weather">Check Now</a></button>
            </div>
            <div class="hright">
                <img src="./assets/download.jfif" alt="">
            </div>
        </div>
    </div>
</body>

</html>